*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;

}

header {
	padding: 0.8rem;
	margin-bottom: 2rem;
	align-items: center;
	border-bottom: 1px solid gray;
}

header .nav, header .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#intro	h1, #intro p {
	margin-bottom: 1rem;
	text-align: center;
}

#intro div {
	text-align: center;
}

#intro button {
	background-color: #c2195b;
	color:white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

.header{
	text-align: center;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info > div > h3 {
	margin-bottom: 1rem;
}

#succeed-info div {
	display: inline;
	width: 33.33%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	display: inline-block;
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	color: white;
	background-color: #002540;
}

body > #pre-footer > div {
	display: inline-table;
	padding: 1rem;
	width: 20%;
}

body > #pre-footer > div > {
	margin-top: .3rem;
	margin-bottom: .3rem;
}