/*
	Syntax of using CSS rules:
	selector{
		property: value;
	}
*/

/*Type Selector*/
/* tag-name */
/*Universal Selector*/
/*Targets all the elements in our webpage*/
*{
	font-family:"Courier New", monospace;
	font-size: 20px;


}

h1{
	color: yellow;
}

#zuitt-motto{
	letter-spacing: 5px;
}
.offering-item{
	text-transform: uppercase;
}

[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*h3{
	letter-spacing: 25px !important;
}*/

h3 + img{
	height: 300px;
	width: 300px;

	border-radius: 150px;
}
#bootcamp-learning-list li{
	color: #212224;

}
h2 ~ a{
	text-decoration: none;
}
body > section > form > label {
	color: rgb(86, 199, 219);
}
body{
	background-color: hotpink;
}

section{
	height: 100vh;
	text-align: center;
}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}
a:hover{
	background-color: lightblue;
}

div{
	display: inline;
	float: right;
}
ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.5%;
}
button{
	background-color: greenyellow;
	color: white;
	border: 0;
	border-radius: 15px;
}

