* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: Open Sans;
}

.right-nav {
	display: inline-block;
    float: right;

}
.nav-logo {
	display: inline-block;
	padding: 10px;
}

nav {
	top: 0;
	position: sticky;
	background-color: white;
	z-index: 1;

}

.nav {
	display: inline-block;
	padding: 15px 15px;
	list-style-type: none;
}

.tuitt-button {
	background-color: #c2195b;
	border: none;
  	color: black;
  	padding: 10px 12px;
 	display: inline-block;
  	border-radius: 16px
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-position: center;
    margin-top: 10px;
    min-width: 80vw;
    text-align: right;
    position: relative;
}

.front-bg{
	background-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 50vh;
}

.container {
    color: white;
    opacity: 1;
    text-align: right;
    margin-left: 50%;
    margin-right: 10%;
}

.title {
	font-family: Zilla Slab;
	color: white;
	font-size: 2rem;
    padding-right: 10vw;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	min-height: 50vh;
	padding: 10vh 10vh;
}

.book-button {
	background-color: #336589;
	border: none;
  	color: black;
 	padding: 5px 20px;
 	display: inline-block;
  	border-radius: 16px
}

.apply-button {
	background-color: #c2195b;
	border: none;
  	color: black;
 	padding: 10px 20px;
 	display: inline-block;
  	border-radius: 16px
}

.title-2{
	text-align: center;
	min-height: 1rem;

}

.intro {
	padding: 10vh;
}

.pre-footer{
    background-color: #f7fbfb;
    text-align: center;
}
.book-button{
    background-color: #336589;
    border-radius: 25px;
    color: white;
    border-width: 1px;
    padding: 5px 25px;
    margin: 5px;
}
footer{
    text-align: center;
}
