body {
	font-size: 100%;
}


#div-1{
	background: green;
	display: inline;
}

#span-1 {
	background: purple;
	display: inline;
	/* This will not take effect because we can't use width and height in the property display: inline*/
	width: 250px;
	height: 250px;
}

#span-2{
	background: red;
	display: block;
}

#div-2{
	background-color: hotpink;
	display: none;
}

#img {
	width: 250px;
	height: 250px;
}

#p1 {
	background-color: #ebf0f7 ;
}

#p2 {
	background-color: rgb(235, 240, 247);
}

#p3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

/*Float property*/
.image-float{
	width: 250px;
	height: 250px;

	float: inherit;
}

/*CSS units*/

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}


/*VW is useful for creating full width elements (100) that fill up the entire viewpor's width */

/*VH*/
.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

/*by default 1 rem is 16 pixes if you use 2 rem =32 pixels*/

.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

.parent	{
	background-color: yellow;
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.two-hundred-percent {
	font-size: 200%;
}


.background {
	min-height: 100vh;
/* for image url it's url() *Space sensitive*	*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top ;
	background-attachment: scroll;

}

.bg-title{
	color: white;
	text-align: center;
	font-size: 3em;
	margin: 0px;
	line-height: 35rem;
}

.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/*Z-Index Elements*/
.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}