* {
	font-family: ;
	font-size: ;
}

#externalStyling{
	color: green;
}

h1{
	font-size: 50px ;
}

h2 {
	text-transform: uppercase;
}
.languages-to-be-learned {
	background-color: lightblue;
}
[value] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

img + ol {
	list-style-type: square ;
}

section img {
	height: 100px;
	border-width: 100px;
	border-radius: 150px;
}

ol ~ p{
	text-align: center;
}

body > #css-introduction-activity > #other-things-to-be-learned {
	letter-spacing: 5px;
}
